name: check changeset

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "packages/**"
      - ".github/workflows/check-changeset.yaml"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run changeset status
        run: pnpm changeset status --since origin/main
